body{
margin:0;
background:#081423;
color:#0ff;
font-family:Orbitron,Arial;
}

.panel{
width:420px;
margin:80px auto;
padding:20px;
border:2px solid #0ff;
background:#001933;
text-align:center;
}

input,textarea,button{
width:90%;
margin:8px;
padding:8px;
background:#001933;
border:1px solid #0ff;
color:#0ff;
}

button:hover{background:red;cursor:pointer;}
.hidden{display:none;}

.main{display:flex;height:100vh;}

.sidebar{
width:220px;
background:#001933;
border-right:2px solid #0ff;
padding:10px;
}

.sidebar button{
width:100%;
margin:5px 0;
}

.content{
flex:1;
padding:20px;
overflow:auto;
}

.section{border:1px solid #0ff;padding:15px;}

.paper{
background:#f4ecd8;
color:black;
position:relative;
}

.paper textarea{
background:transparent;
border:none;
color:black;
height:200px;
}

.stamp{
position:absolute;
top:30%;
left:20%;
transform:rotate(-20deg);
border:4px solid red;
color:red;
font-size:26px;
padding:10px;
opacity:0.6;
}

.terminal{
background:black;
color:#00ff00;
}

iframe{
width:100%;
height:300px;
border:2px solid #0ff;
}
